body {
    font-family: arial;
    font-size: 16px;
    line-height: 32px;
}

h1,
p {
    margin: 0;
}

h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

div.html5_logo {
    margin-left: 70px;
}

img {
    max-width: 100%;
}

table {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}